.breadcrumb{
    margin-top: 30px;
    color: #b5b5b5; 
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 17px;
    width: 100%;
    /* height: 100%; */
    /* padding: 60px 73px 0px 73px; */
  }
  .arrow {
    display: flex;
    color: #b5b5b5;
    margin: 0px 9px ;
    align-items: center;
  }
  
  .breadcrumb-text {
    text-decoration: none; 
    color: #b5b5b5; 
    font-size: 20px;
    font-weight: 600;
  
  }
    
  .link-style {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    display: flex;
}